
  <small class="d-block text-uppercase font-weight-bold mb-3">Single date</small>
  <div class="form-group" [ngClass]="{'focused':focus2===true}">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
      </div>
      <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" (select)="onDateSelection($event)" autocomplete="off"/>
    </div>
  </div>
